<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Login</h1>
    <form class="" action="/login" method="post">
      <label for="username">username:</label>
      <input name="username"></input>
      <br>
      <label for="password">password</label>
      <input name="password" type="password"></input>
      <br>
      <button type="submit" name="button">login</button>
    </form>
    <% if(repeatedLogin){ %>
      <%= "Incorrect login credentials" %>
    <% } %>
    <a href="/register">register</a>
  </body>
</html>
