<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Register</h1>
    <form class="" action="/register" method="post">
      <label for="username">username:</label>
      <input name="username"></input>
      <br>
      <label for="password">password</label>
      <input name="password"></input>
      <br>
      <button type="submit" name="button">register</button>
    </form>
    <% if(requestedUsername !== "null") { %>
      <p><%= `${requestedUsername} username is taken` %></p>
    <% } %>
    <a href="/login">login</a>
  </body>
</html>
